header {
    flex-direction: row;
    text-decoration: none;
    justify-content: flex-end;
}

header a {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 10px;
    padding: 10px;
    height: 45px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    text-transform: uppercase;
}

#upgrade {
    border-style: solid;
    border-color: white;
}

#profile {
    background-color:  rgba(48, 47, 47, 0.3);
}

#upgrade {
    background-color: rgba(26, 25, 25, 0.3);
}

nav {
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
}

nav a {
    display: flex;
    padding: 5px;
    margin: 10px;
    height: 50px;
    width: 200px;
    font-size: 14px;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
}

nav .selected {
    border-bottom-style: solid;
    border-bottom-color: red;
}


header a:hover {
    filter: brightness(300%);
}

