article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article .artist-card {
    background-color: rgba(48, 47, 47, 0.3);
    width: 48%;
    padding: 1%;
    margin: 1%;
    height: 300%;
}

.artist-card div h3 {
    margin: 0px;
    margin-top: 5%;
}

.artist-card div p {
    margin: 0px;
}
.artist-card div {
    text-align: center;
}

.artist-card div h3, p {
    text-align: left;
}

article img {
    width: 75%;
    border-radius: 50%;
}


.artist-card div span{
    opacity: 0;
}
.artist-card:hover div span {
    opacity: 1;
}